.btnjoinroom{
    background-color: #B37242;
    color: white;
    border: 2px solid white;
    font-weight: bold;
    font-size: large;
    width: 150px;
    justify-items: center;
    align-items: center;
}

.btnjoinroom:hover{
    background-color: white;
    color: black;
    border: 2px solid black;
}