h3{
    background-color: #B37242;
    color: white;
    font-weight: bold;
    align-items: center;
    justify-items: center;
    text-align: center;
    height: 50px;
    border: 2px solid white;
}


tr,tbody{
    
    background-color: #B37242;
    text-align: center;
    color: white;
    border: 1px solid white;
    font-size: large;
}

td{
    background-color: #B37242;
    text-align: center;
    color: white;
    border: 1px solid white;
    font-size: large;
}


